.question {
  color: var(--font-color);
  max-width: 60%;
  margin-inline: auto;
  margin-top: 1.5em;
}

.all-answers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0.75em;
}

.selected {
  border: none;
  color: var(--font-color);
  background-color: #d6dbf5;
  font-size: var(--font-small);
}

.unSelected {
  border: solid 1px var(--font-color);
  color: var(--font-color);
  background-color: var(--neutral-bg-color);
  font-size: var(--font-small);
}

@media (width < 660px) {
  .question {
    max-width: 80%;
  }
}
